<div class="comment-top">
    <h4>Yorum Yaz</h4>
    <div class="comment-bottom">
        <form action="#" method="post">

        </form>
        @{
            using (Html.BeginForm("AddComment", "Comment"))
            {
                <input class="form-contro text-dark" type="text" name="CommentUserName" placeholder="Kullanıcı adı" required="">
                @* <input class="form-control" type="email" name="Email" placeholder="E-Posta Adresi" required=""> *@

                <input class="form-control text-dark" type="text" name="CommentTitle" placeholder="Başlık" required="">

                <textarea class="form-control text-dark" name="CommentContent" placeholder="Mesaj..." required=""></textarea>
                <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
            }
        }
    </div>
</div>